@import url("https://fonts.googleapis.com/css2?family=Comfortaa&display=swap");
* {
  transition-duration: 0.2s;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Comfortaa", sans-serif;
  user-select: none;
}
#root {
  width: 700px;
}
header{
  font-size: .875em;
}
code{
  font-size: 1em;
}
h3.alt-hover:hover{
  color: #6c757d;
}
h3.alt-hover{
  cursor: pointer;
}
#tree{
  --bs-breadcrumb-divider: '>'
}
#tree *{
  font-family: monospace;
  font-size: .875em;
}
#tree active{
  color: #d63384
}

/*
code{
  font-size: large;
  font-family: monospace;
  color: white;
  background: #dedede34;
}
.tab{
  width: 100%;
}
.tab-link{
  display: flex;
  margin: 10px;
  justify-content: space-evenly;
}
.tab-link>div{
  display: flex;
  width:50%;
  padding: 10px;
  text-align: center;
  justify-content: space-evenly;
  border: 1px solid white;
} */
